.svn
played*
.DS_Store
build/**/*
*.o
mdebug.txt
results_*/**/*
results_*/*
engines/**/*
*.a
external/gogui*
external/gnug*
.dep
bookfiles/**/*
_release/**/*
_release/*
staging/**/*
diffFile
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
Docs/iTunes/**/*
obj/**/*
*.dll
*.pdb
*.obj
bookfiles/**/*
regression
Debug/**/*
Release/**/*
*.cachefile
*.debug
Debug
Release
bin/**/*
bin
*.suo
*.opensdf
*.sdf
*.vcxproj.*
ipch/**/*
ipch
.*~
